/*==================================================
EMMA SOFÍA XV - LUXURY BLACK & GOLD
==================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#080808;
    color:#f5f5f5;
    overflow-x:hidden;
    line-height:1.7;
}

/*=========================
LOADER
=========================*/

#loader{
    position:fixed;
    inset:0;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .8s;
}

.loader-content{
    text-align:center;
}

.loader-content h2{
    font-family:'Great Vibes',cursive;
    font-size:72px;
    color:#D4AF37;
    text-shadow:
        0 0 10px rgba(212,175,55,.8),
        0 0 30px rgba(212,175,55,.4);
}

.loader-content p{
    margin-top:12px;
    color:#fff;
    letter-spacing:6px;
    text-transform:uppercase;
    font-size:14px;
}

/*=========================
PORTADA
=========================*/

.hero{
    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    text-align:center;
    background:#000;
}

.hero-img{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    
}

.overlay{
    display:none;
}

.hero-content{
    position:relative;
    z-index:2;
    padding:20px;
}

.hero-content h3{
    font-family:'Cinzel',serif;
    color:#D4AF37;
    letter-spacing:8px;
    font-size:18px;
    text-transform:uppercase;
}

.hero-content h1{
    font-family:'Great Vibes',cursive;
    font-size:92px;
    color:#F5D87A;
    margin:18px 0;
    text-shadow:
        0 0 12px rgba(212,175,55,.8),
        0 0 35px rgba(212,175,55,.5);
}

.hero-content h2{
    font-family:'Cinzel',serif;
    color:#fff;
    letter-spacing:4px;
    font-size:28px;
}

.fecha{
    color:#F5D87A;
    margin:28px 0;
    font-size:22px;
}

#abrirInvitacion{
    padding:16px 40px;
    border-radius:50px;
    border:2px solid #D4AF37;
    background:linear-gradient(135deg,#8d6a10,#D4AF37,#f5d87a);
    color:#111;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition:.35s;
    box-shadow:0 0 20px rgba(212,175,55,.35);
}

#abrirInvitacion:hover{
    transform:translateY(-3px);
    box-shadow:0 0 35px rgba(212,175,55,.8);
}

/*=========================
RESPONSIVE
=========================*/

@media(max-width:768px){

.hero-content h1{
    font-size:64px;
}

.hero-content h2{
    font-size:22px;
}

.hero-content h3{
    font-size:15px;
    letter-spacing:4px;
}

.fecha{
    font-size:18px;
}

#abrirInvitacion{
    font-size:16px;
    padding:14px 34px;
}

}
